<div class="rich-editor-wrap">
  <div class="rich-editor-toolbar">
    <button type="button" class="toolbar-btn" data-cmd="bold" title="Bold"><b>B</b></button>
    <button type="button" class="toolbar-btn" data-cmd="italic" title="Italic"><i>I</i></button>
    <button type="button" class="toolbar-btn" data-cmd="underline" title="Underline"><u>U</u></button>
    <button type="button" class="toolbar-btn" data-cmd="strikeThrough" title="Strike"><s>S</s></button>
    <span class="toolbar-sep"></span>
    <button type="button" class="toolbar-btn" data-cmd="insertUnorderedList" title="Bullet list">• List</button>
    <button type="button" class="toolbar-btn" data-cmd="insertOrderedList" title="Numbered list">1. List</button>
    <span class="toolbar-sep"></span>
    <button type="button" class="toolbar-btn" data-cmd="formatBlock" data-val="blockquote" title="Quote">❝</button>
    <button type="button" class="toolbar-btn" data-cmd="formatBlock" data-val="pre" title="Code">{ }</button>
    <span class="toolbar-sep"></span>
    <button type="button" class="toolbar-btn" data-cmd="insertImage" title="Upload image">📷 Image</button>
    <button type="button" class="toolbar-btn" data-cmd="insertVideo" title="Upload video">🎥 Video</button>
    <button type="button" class="toolbar-btn" data-cmd="createLink" title="Insert link">🔗 Link</button>
    <span class="toolbar-sep"></span>
    <button type="button" class="toolbar-btn" data-cmd="removeFormat" title="Clear format">✕ Clear</button>
  </div>
  <div class="rich-editor" contenteditable="true">{{{value}}}</div>
  <input type="hidden" name="{{name}}" value="{{value}}">
</div>
